{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block stylesheets %}
<link href="{{ asset("css/team/team.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}


    
    
    
    {# <img class="team_picture" src="../images/Theo.jpg" alt="photo de profil"> #}
  
  <section>
        <div class="card" data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear">
        <div class="profil_picture"> <img class="team_picture" src="../images/COCO.jpg" alt="photo de profil"></div>
        <div class="card_content"><h1>Corentin</h1><p class="description">Le meilleur des chevaliers de la Table Ronde car il est fort et mesuré. C'est le chevalier modèle : en plus d'être un chevalier d'exception, il fait preuve d'une courtoisie exemplaire pour tous les autres chevaliers de son temps.</p></div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="200">
        <div class="profil_picture"> <img class="team_picture" src="../images/Theo.jpg" alt="photo de profil"></div>
        <div class="card_content"><h1>Théo</h1><p class="description">Réputé comme l'un des meilleurs de la Table ronde et acquiert sa véritable gloire dans la quête du Graal dont il se révèle digne, avec Galaad et Perceval, de pénétrer les Mystères. Plusieurs épisodes illustrent son caractère vertueux.</p></div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="400">
        <div class="profil_picture"> <img class="team_picture" src="../images/Lucas1.jpg" alt="photo de profil"></div>
        <div class="card_content"><h1>Lucas</h1><p class="description">Le roi unique et incontesté, un seigneur breton qui aurait organisé la défense des peuples celtes des îles Britanniques et de Bretagne armoricaine face aux envahisseurs germaniques à la fin du ve siècle ou au début du vie siècle.  </p></div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="200">
        <div class="profil_picture"> <img class="team_picture" src="../images/Lucas2.jpg" alt="photo de profil"></div>
        <div class="card_content"><h1>Lucas</h1><p class="description">Lancelot est tout d'abord un modèle de chevalier. Ses prouesses guerrières font de lui l'un des trois meilleurs chevaliers que le monde arthurien ait connus avec Perceval et Galaad. C'est en même temps un héros courtois qui se dévouera entièrement au service de sa dame, allant jusqu'à accepter la défaite (lors du tournoi de Pomelegloi et de Noauz) et la honte (sa montée dans la charrette infamante) par soumission à Guenièvre. Ces deux aspects de Lancelot en font déjà un personnage tiraillé entre deux univers, celui de la chevalerie et celui du monde courtois</p></div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="400">
        <div class="profil_picture"> <img class="team_picture" src="../images/PA.jpg" alt="photo de profil"></div>
        <div class="card_content"><h1>Pierre-Antoine</h1><p class="description">Il est le plus jeune chevalier de la Table ronde. Il est le bon chevalier, le seul qui puisse s'asseoir à la droite d'Arthur sur le siège périlleux, comme prédit par Merlin qui l'avait présenté à la cour du roi Arthur.</p></div>
        </div>
       


  </section

{% endblock %}