{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block stylesheets %}
<link href="{{ asset("css/team/team.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}


    
    
    
    {# <img class="team_picture" src="../images/Theo.jpg" alt="photo de profil"> #}
  
  <section>
        <div class="card">
        <div class="profil_picture"> <img class="team_picture" src="../images/COCO.jpg" alt="photo de profil"></div>
        <div class="card_content"><h1>Coco</h1><p>Description</p></div>
        </div>
        <div class="card">
        <div class="profil_picture"> <img class="team_picture" src="../images/Theo.jpg" alt="photo de profil"></div>
        <div class="card_content"><h1>Théo</h1><p>Description</p></div>
        </div>
        <div class="card">
        <div class="profil_picture"> <img class="team_picture" src="../images/Lucas1.jpg" alt="photo de profil"></div>
        <div class="card_content"><h1>Lucas</h1><p>Description</p></div>
        </div>
        <div class="card">
        <div class="profil_picture"> <img class="team_picture" src="../images/Lucas2.jpg" alt="photo de profil"></div>
        <div class="card_content"><h1>Lucas</h1><p>Description</p></div>
        </div>
        <div class="card">
        <div class="profil_picture"> <img class="team_picture" src="../images/PA.jpg" alt="photo de profil"></div>
        <div class="card_content"><h1>Pierre-Antoine</h1><p>Description</p></div>
        </div>
       


  </section

{% endblock %}