<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="../css/cours.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <img src="../img/logo.png">
            <div id="navbar-content">
                <a href="">
                    <p>Accueil</p>
                </a>
                <a href="">
                    <p>Forum</p>
                </a>
                <a href="">
                    <p>Cours</p>
                </a>
                <a href="">
                    <p>Equipe</p>
                </a>
                <input type="text" id="search-bar" name="search-bar" placeholder="RECHERCHER">
                <a href="">
                    <p>Connexion</p>
                </a>
                <a href="">
                    <p>Inscription</p>
                </a>
            </div>
        </nav>

        <div id="header-content">
            <h1>Consulter les cours</h1>
        </div>
    </header>
    <section cours>
        <div class="button">
            <button class="button1">Année 1</button>
            <button class="buttonCenter">Année 2</button>
            <button class="buttonCenter">Année 3</button>
            <button class="buttonCenter">Année 4</button>
            <button class="button5">Année 5</button>
        </div>
        <div class="container-border">
            <div class="container">
               
                    <div class="card-cours">
                        <img src="../img/logo.png" alt="Image Cours">
                        <h3>Cours 1 : Lorem Ipsum</h3>
                        <button>Consulter >></button>
                    </div>
                    <div class="card-cours">
                        <img src="../img/logo.png" alt="Image Cours">
                        <h3>Cours 2 : Lorem Ipsum</h3>
                        <button>Consulter >></button>
                    </div>
                    <div class="card-cours">
                        <img src="../img/logo.png" alt="Image Cours">
                        <h3>Cours 3 : Lorem Ipsum</h3>
                        <button>Consulter >></button>
                    </div>
                    <div class="card-cours">
                        <img src="../img/logo.png" alt="Image Cours">
                        <h3>Cours 4 : Lorem Ipsum</h3>
                        <button>Consulter >></button>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div id="footer-content">
            <div id="devcorp">
                <img id="logo-ilv" src="../img/logo.png">
                <p>Dev'Corp</p>
            </div>

            <div id="footer-links">
                <p>Lorem</p>
                <p>Lorem</p>
                <p>Lorem</p>
                <p>Lorem</p>
                <p>Lorem</p>
            </div>

            <select name="langage" id="langage-input">
                <option value="french">Français</option>
                <option value="english">English</option>
            </select>
        </div>

        <div id="social">
            <div id="social-logos">
                <img src="../img/logo.png">
                <img src="../img/logo.png">
                <img src="../img/logo.png">
                <img src="../img/logo.png">
            </div>
            <div id="social-content">
                <p>site design / logo © <br>
                    2020 Dev'Corp Inc</p>
            </div>
        </div>
    </footer>
</body>

</html>