<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>         
            <img src="../img/logo.png">
            <div id="navbar-content">
                <a><p>Accueil</p></a>
                <a><p>Forum</p></a>
                <a><p>Cours</p></a>
                <a><p>Equipe</p></a>
                <input type="text" id="search-bar" name="search-bar" placeholder="RECHERCHER">
                <a><p>Connexion</p></a>
                <a><p>Inscription</p></a>
            </div>
        </nav>

        <div id="header-content">
            <p>For students, By students</p>
            <p>Welcome in :</p>
            <p>Dev'Corporation</p>
        </div>
    </header>

    <section id="forum">
        <div id="forum-logos">
            <div id="forum-logos-man">
                <div>
                    <img src="../img/logo.png">
                    <p>Mise à niveau</p>
                </div>
            </div>
            <div id="forum-logos-entraide">
                <div>
                    <img src="../img/logo.png">
                    <p>Entraide</p>
                </div>
            </div>
            <div id="forum-logos-discover">
                <div>
                    <img src="../img/logo.png">
                    <p>Découverte</p>
                </div>
            </div>
        </div>

        <div id="forum-content">
            <h1>Forum</h1>
            <div id="forum-card">
                <div id="forum-card-help">
                    <h1>S'aider</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id temporibus error, excepturi expedita atque, incidunt est deserunt necessitatibus sequi officia. Quod quibusdam qui officia animi mollitia, magni quos explicabo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, laborum ut consequatur adipisci sit voluptatum alias reiciendis fugit laboriosam beatae deleniti atque modi consequuntur sapiente eum porro repellendus quibusdam dolore.
                    </p>
                </div>  

                <div id="forum-card-maj">
                    <h1>Se mettre à jour</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime assumenda qui labore, ratione tempore a molestias aspernatur deserunt alias eligendi, corporis unde dolor? Magnam ad impedit dolores esse laudantium beatae!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quos accusantium, quam nobis, natus assumenda saepe aperiam iste deserunt sapiente blanditiis? Dolores possimus dignissimos itaque animi perspiciatis maiores eius accusantium.</p>
                </div>
            </div>
            <hr>

        </div>
        <div id="first-forum">
            <div id="left-div"></div>
            <div id="middle-div">
                <img src="../img/logo.png">
                <p>Le premier forum d'entraide créé par des étudiants de l'IIM autour du monde du développement web, pour les étudiants de l'IIM</p>
            </div>
            <div id="right-div"></div>
        </div>
    </section>

    <hr id="division">

    <section id="code">
        <div id="container">
            <ul>
                <!-- <li><pre>1   <span id="blue">var</span> need = <span id="brown">Besoin</span></pre></li>
                <li><pre>2   <span id="blue">var</span> give = <span id="brown">Aider</span></pre></li>
                <li><pre>3</pre></li>
                <li><pre>4   <span id="blue">function</span> start(choice)</pre></li>
                <li><pre>5      <span id="blue">if</span>(choice === need){</pre></li>
                <li><pre>6         console.log(<span id="brown">"Redirect: question"</span>);</pre></li>
                <li><pre>7      } <span id="blue">else if</span>(choice === give){</pre></li>
                <li><pre>8         console.log(<span id="brown">"Redirect: forum"</span>);</pre></li>
                <li><pre>9      }</li>
                <li><pre>10   }</li> -->

            </ul>
            <br>
            <input id="code-input" type="text" placeholder="C:\Users\Dev'Corp\start(votre choix)">
        </div>
    </section>

    <footer>
        <div id="devcorp">
            <img id="logo-ilv" src="../img/logo.png">
            <p>Dev'Corp</p>
        </div>

        <div id="lorem">
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
        </div>

        
    </footer>

</body>
</html>