<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>         
            <img src="../img/logo.png">
            <div id="navbar-content">
                <a><p>Accueil</p></a>
                <a><p>Forum</p></a>
                <a><p>Cours</p></a>
                <a><p>Equipe</p></a>
                <input type="text" id="search-bar" name="search-bar" placeholder="RECHERCHER">
                <a><p>Connexion</p></a>
                <a><p>Inscription</p></a>
            </div>
        </nav>

    </header>
<main>
    <section>
        <h1>FORUM</h1>
        <input type="text" id="search-bar" name="search-bar" placeholder="RECHERCHER">

        <div>
            <button>HTML</button>
            <button>CSS</button>
            <button>JS</button>
            <button>PHP</button>

        </div>

    </section>

    
</main>



    </body>
    </html>