*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt';

}

nav{
    background-color: #F5AE20;
    display: flex;
}

a{
    outline: none;
    text-decoration: none;
}

nav>img{
    display: flex;
    justify-content: center;
    max-width: 100px;
    max-height: 100px;
}

#navbar-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


#navbar-content>a{
    align-self: center;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}


#search-bar{
    align-self: center;
    padding: 15px;
    min-width: 30%;
    border: none;
    border-radius: 30px;
    font-size: 22px;
}

#search-bar:focus,
#code-input:focus{
    outline: none;
}


:placeholder-shown{
    font-size: 22px;
}

#header-content{
    text-align: center;
    background-image: url(../img/e83aa3c18b39efa325010737b7b16b98.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0rem;
    height: 900px;
}

#header-content>p{
    font-size: 30px;
    font-weight: 400;
}

#header-content>p:first-child,
#header-content>p:last-child
{
    padding-top: 45px;
    padding-bottom: 45px;

}

#forum-logos{
    display: flex;
    justify-content: space-around;
}

#forum-logos>div{
    text-align: center;
    width: 33%;
}

#forum-logos-man,
#forum-logos-discover
{   
    text-align: center;
    margin-top: 250px;
}

#forum-logos-entraide{
    margin-top: 100px;
}

#forum-logos-man>div,
#forum-logos-entraide>div,
#forum-logos-discover>div
{
    margin: auto;
    border-bottom: 0.1px solid black;
    border-top: 0.1px solid black;
    width: 40%;
}

#forum-logos-man>div>img,
#forum-logos-entraide>div>img,
#forum-logos-discover>div>img
{
    max-width: 50px;
    padding-top: 10px;
}

#forum-logos-man>div>p,
#forum-logos-entraide>div>p,
#forum-logos-discover>div>p
{
    margin: auto;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}

#forum-content{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 150px;
}

#forum-content>h1{
    border-top: 0.5px solid black;
    padding-top: 15px;
    margin-bottom: 50px;
    font-weight: 500;
}

#forum-card{
    background-color: #F5AE20;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
}

#forum-card-help,
#forum-card-maj{
    border-right: 1px solid white;
    padding-left: 10%;
    padding-right: 10%;
}

#forum-card-help>h1,
#forum-card-maj>h1{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white
}

#forum-card-help>p,
#forum-card-maj>p{
    color: white;
    padding-bottom: 50px;
}

hr{
    margin-top: 50px;
}

#first-forum{
    display: flex;
    justify-content: space-between;
}

#left-div,
#right-div{
    margin-top: 50px;
    background-color: orange;
    height: 500px;
    width: 5%;
}

#left-div{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#right-div{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#middle-div{
    display: flex;
    align-self: center;
}

#middle-div>img{
    max-width: 100px;
    max-height: 100px;
    padding-right: 100px;
    padding-left: 20%;
}

#middle-div>p{
    font-size: 25px;
    padding-right: 20%;
}

#division{
    margin-right: 10%;
    margin-left: 10%;
}

#container{
    margin-top: 100px;
    margin-right: 10%;
    margin-left: 10%;
    border: solid 0.5px black;
    border-radius: 50px;
    padding: 20px;
    padding-top: 500px;
}   

#container>ul{
    list-style: none;
    font-size: 25px;
}

#blue{
    color:rgb(0, 110, 255)
}

#brown{
    color: #A77C03
}

#code-input{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 50px;
    font-size: 25px;
}

