#bouton {    
    padding: 15px 25px;
    margin: 25px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 4px 4px black;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}

#bouton:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px 4px black;
    border: 1px solid black;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.index {
    text-align: center;
}

.index p {
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}

.divBouton {
    margin-top: 50px;
}

.titre {
    text-align: center;
}

.langages {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 20px;
}

.langue {
    display: flex;
    margin: 20px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.514);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.391);
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: fit-content;
}

#modifBouton {
    font-size: 20px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    color: rgb(209, 65, 65);
    border-radius: 5px;
}

.langue:hover {
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(245, 245, 245);
}


#langage {
    margin: 50px;
    text-align: center;
}

#langage label {
    margin-right: 10px;
    font-size: 25px;
    font-weight: 400;
}

.bouton {    
    padding: 15px 25px;
    margin: 25px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 4px 4px black;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}

.bouton:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px 4px black;
    border: 1px solid black;
    cursor: pointer;
    color: rgb(0, 0, 0);
}


.user {
    margin: 20px;
}

.banne {
    display: flex;
}

.debannir, .bannir {
    font-weight: 600;
    margin-left: 15px;
}

.debannir {
    color: green;
}

.bannir {
    color: red;
}