*{
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
}

.container {
    margin-top: 20px;
}

.content{
    margin-bottom: 20px;
}

.langages{
    margin-top: 10px;
    background-color: rgb(216, 216, 216);
    display: inline-block;
}

.langages p{
    margin-right: 5px;
}