* {
    margin: 0;
    padding: 0;
}
img {
    object-fit: cover;
}

.title {
    padding: 30px;

}

.search {
   
    border:none;
}

.container-search{
    display: flex;
    justify-content: center;
}
.header-button{
    text-decoration: none;
    color: black;
    border: solid black 1px;
    padding: 5px;
}
.header-button:hover{
    text-decoration: none;
    color: white;
    background-color:black;
}
.header {
    text-align: center;
    padding-bottom: 20px;
}
input {
    outline:none;
}

.languages{
    text-decoration: none;
    color: black;
}

.languages:hover{
    color: orange;
}
.search-bar{
    display: flex;
    justify-content: center;
    border: solid grey 1px;
    border-radius: 5px;
    width: 400px;
    padding: 5px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin-top: 40px;
}

.content {
    width: 29%;
    max-width: 29%;
    height: 146px;
    max-height: 146px;
    /* border: solid rgb(179, 179, 179) 1px; */
    border-radius: 5px;
    margin-bottom: 70px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.userImg{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50px;
}

.posteUser {
    color: black;
    padding-left: 10px;
}


.card-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.user {
    display: flex;
    align-items: center;
}
.card-languages {
    display: flex;
}
.card-language {
    padding: 15px;
}

.show {
    color: black;
}

.card-bottom{
    padding-left: 30px;
}

.posteContent{
    overflow: hidden;
    max-height: 50px;
}

@media screen and (max-width:1024px){
    
    .container{
        flex-flow :column wrap
    }
   
}