* {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.container {
    margin-top: 20px;
}

.content {
    margin-bottom: 20px;
}

.posteLangages {
    margin-top: 10px;
    background-color: rgb(216, 216, 216);
    display: inline-block;
}

.posteUser {
    background-color: black;
    color: white;
    display: inline-block;
}

.langages p {
    margin-right: 5px;
}

.choice {
    margin-top: 20px;
}

.posteUser {
    color: white;
}

.show {
    color: black;
}