{% extends 'base.html.twig' %}

{% block title %}
    Admin
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/admin.css') }}"{% endblock %}



{% block body %}
    <div class="index">
        <p>Partie administrateur</p>
       
        <div class="divBouton">
            <a href="{{ path('admin_langage') }}" id="bouton">Gérer les langages</a>
            <a href="{{ path('admin_users') }}" id="bouton">Gérer les utilisateurs</a>
        </div>
    </div>
{% endblock %}