{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/admin.css') }}"{% endblock %}


{% block body %}
        <div class="divBouton titre">
            <a href="{{ path('admin_langage_create') }}" id="bouton">Créer un langage</a><br>
        </div>   
    <div class="langages">

        {% for elem in langages %}
                <div class="langue">

                <a href="{{ path('admin_langage_modif', { id:elem.id }) }}"  id="modifBouton">Modifier</a>
                {{ elem.langage }}<br>
                        </div>

            {% endfor %}
    </div>

{% endblock %}