#switch-buttons-container{
    display: flex;
}

#user-posts, #user-projects, #projects-form-container{
    display: none;
}

.onglet {
    justify-content: center;
    margin: 10px;
}
.ongletOne {
    border: solid 2px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.ongletOne:hover {
background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)
}
.ongletTwo {
    border: solid 2px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.ongletTwo:hover {
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%)}
.ongletThree {
    border: solid 2px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.ongletThree:hover {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)
}

#infos {
    display: flex;
    flex-direction: row-reverse;
    border: solid;
    margin: 20px;
    height: 100%;
}

.info {
    width: 50%;
    padding: 50px;
}

.datas {
    margin-left: 50px;
    margin-top: 20px;
}

.data {
    padding-top: 20px;
}

.image {
    width: 50%;
    padding: 50px;
}
.test {
    cursor: pointer;
    color: white;
    background-color: orange;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    
}

.test2 {
    display: none;
}


.picture {
    width:50%;
}

.modifProfil {
    color: white;
    background-color: orange;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}