# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\0 - Zone de travail\Devlab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
