{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user/connexion.css') }}"{% endblock %}


{% block body %}

<div class="flex"> 


    <form action="{{ path('connexion') }}" method="post" class="formConnexion">

        <h1 class="titre">Connexion</h1>

            <div class="connexion">
                <i class="fas fa-user"></i>
                <input placeholder="Adresse mail ..." required name="_username" type="text" id="email">
            </div>

            <div class="connexion">
                <i class="fas fa-lock"></i>
                <input placeholder="Mot de passe ..." required name="_password" type="password" id="motDePasse">
            </div>

                <button type="submit" id="bouton">Connexion</button>
            
    </form>


    <a href=" {{ path("inscription") }}"><p>Inscription</p></a>

</div>

{% endblock %}
