{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<h1 class="titre">Connexion</h1>

<form action="{{ path('connexion') }}" method="post" class="formConnexion">

    <div class="connexion">
        <i class="fas fa-user"></i>
        <input placeholder="Adresse mail ..." required name="_username" type="text" id="email">
    </div>

    <div class="connexion">
        <i class="fas fa-lock"></i>
        <input placeholder="Mot de passe ..." required name="_password" type="password" id="motDePasse">
    </div>

    <div>
        <button type="submit" id="bouton">Connexion</button>
    </div>
</form>

{% endblock %}
