{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user/inscription.css') }}"{% endblock %}


{% block body %}
    <h1 class="titre">Inscription</h1>
    {{ form(inscriptionForm) }}
{% endblock %}