<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="../css/AccueiForum.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>
<body>
    <header>
        <nav>         
            <img src="../img/logo.png">
            <div id="navbar-content">
                <a><p>Accueil</p></a>
                <a><p>Forum</p></a>
                <a><p>Cours</p></a>
                <a><p>Equipe</p></a>
                <input type="text" id="search-bar" name="search-bar" placeholder="RECHERCHER">
                <a><p>Connexion</p></a>
                <a><p>Inscription</p></a>
            </div>
        </nav>

    </header>
<main>
    <section>
        <h1>FORUM</h1>
        <input type="text" id="search-bar" name="search-bar" placeholder="RECHERCHER">

        <div>
            <button>HTML</button>
            <button>CSS</button>
            <button>JS</button>
            <button>PHP</button>
        </div>


     <section class="all_message">
            <div class="message_forum">
                <div class="flex">
                    <div>
                        <img class="photo_profil" src="../img/logo.png" alt="photo de profil">
                        <h3>prenom nom de famille</h3>
                    </div>
                    <div>
                        <div class="rond">
                            <div class="html"></div>
                        </div>
                        <div class="rond">
                            <div class="css"></div>
                        </div>
                        <div class="rond">
                            <div class="js"></div>
                        </div>
                    </div>
                </div>

                <div class="texte">
                    <h2>Voyez ce jeu exquis wallon, de graphie en.</h2>
                    <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky 
                        au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les 
                        bûches se consument dans l"âtre, ce qui lui.</p>
                </div>

                <div class="flex bas">
                    <p>2 jours</p>
                    <div class="espace">
                        <p><i class="fas fa-heart"></i> 132</p>
                        <p><i class="fas fa-comment"></i> 12</p>
                    </div>
                </div>


            </div>

            <div class="message_forum">
                <div class="flex">
                    <div>
                        <img class="photo_profil" src="../img/logo.png" alt="photo de profil">
                        <h3>prenom nom de famille</h3>
                    </div>
                    <div>
                        <div class="rond">
                            <div class="html"></div>
                        </div>
                        <div class="rond">
                            <div class="css"></div>
                        </div>
                        <div class="rond">
                            <div class="js"></div>
                        </div>
                    </div>
                </div>

                <div class="texte">
                    <h2>Voyez ce jeu exquis wallon, de graphie en.</h2>
                    <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky 
                        au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les 
                        bûches se consument dans l"âtre, ce qui lui.</p>
                </div>

                <div class="flex bas">
                    <p>2 jours</p>
                    <div class="espace">
                        <p><i class="fas fa-heart"></i> 132</p>
                        <p><i class="fas fa-comment"></i> 12</p>
                    </div>
                </div>


            </div>

            <div class="message_forum">
                <div class="flex">
                    <div>
                        <img class="photo_profil" src="../img/logo.png" alt="photo de profil">
                        <h3>prenom nom de famille</h3>
                    </div>
                    <div>
                        <div class="rond">
                            <div class="html"></div>
                        </div>
                        <div class="rond">
                            <div class="css"></div>
                        </div>
                        <div class="rond">
                            <div class="js"></div>
                        </div>
                    </div>
                </div>

                <div class="texte">
                    <h2>Voyez ce jeu exquis wallon, de graphie en.</h2>
                    <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky 
                        au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les 
                        bûches se consument dans l"âtre, ce qui lui.</p>
                </div>

                <div class="flex bas">
                    <p>2 jours</p>
                    <div class="espace">
                        <p><i class="fas fa-heart"></i> 132</p>
                        <p><i class="fas fa-comment"></i> 12</p>
                    </div>
                </div>


            </div>

            <div class="message_forum">
                <div class="flex">
                    <div>
                        <img class="photo_profil" src="../img/logo.png" alt="photo de profil">
                        <h3>prenom nom de famille</h3>
                    </div>
                    <div>
                        <div class="rond">
                            <div class="html"></div>
                        </div>
                        <div class="rond">
                            <div class="css"></div>
                        </div>
                        <div class="rond">
                            <div class="js"></div>
                        </div>
                    </div>
                </div>

                <div class="texte">
                    <h2>Voyez ce jeu exquis wallon, de graphie en.</h2>
                    <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky 
                        au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les 
                        bûches se consument dans l"âtre, ce qui lui.</p>
                </div>

                <div class="flex bas">
                    <p>2 jours</p>
                    <div class="espace">
                        <p><i class="fas fa-heart"></i> 132</p>
                        <p><i class="fas fa-comment"></i> 12</p>
                    </div>
                </div>


            </div>

        </section>

    </section>

    
</main>



    </body>
    </html>