{% extends 'base.html.twig' %}

{% block title %}
    Créer un poste
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset("css/forum/create.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Créer un poste</h1>

    {{ form(form) }}

{% endblock %}