{% extends 'base.html.twig' %}

{% block title %}
    Créer un poste
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset("css/forum/create.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}
<section id="create">
<div class="center">
    <h1 class="title">Créer un poste</h1>

    {% if user is same as(NULL) %}
        <p><a href="{{ path('connexion') }}">Connectez vous</a> pour créer un poste</p>
    {% else %}
        {{ form(form) }}
    {% endif %}
    </div>
</section>
{% endblock %}