{% extends 'base.html.twig' %}

{% block title %}
    Créer un poste
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset("css/forum/show.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Voici le poste</h1>

{% endblock %}