{% extends 'base.html.twig' %}

{% block title %}
    Créer un poste
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset("css/forum/show.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Voici le poste</h1>
    <h2>{{ poste.title }}</h2>
    <p>{{ poste.content }}</p>
    <a href="{{ path("forum_home")}}">Retourner à l'accueil</a>
{% endblock %}